@charset "uft-8";
/* 기본 초기화 */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    /* inherit속성은 바로 위 부모 요소의 값을
       상속받는다.
       body가 아니라 a태그를 감싸는 (p, li, div..)
       의 color를 의미한다.
    */
    color:inherit;
}
body{
    /* width: 1200px; */
    /* 화면이 줄어들어도 레이아웃이 깨지지 않게 최소 1200px 지정 */
    min-width: 1200px;
    background-color: #fffdf3;
    color:#222;
    font-family: sans-serif;
}
/* header , footer inner 클래스 공통 1200px */
.inner{
    width: 1200px;
    margin: 0 auto;
    /* border:1px solid red; */
}
/* header css 영역 ------------ */
#header{
    height: 58px;
    background-color: #fff;
    border-bottom: 1px solid #222;
}
#header .inner{
    /* 부모인 header의 높이만큼 inner도 높이를 가져라 */
    height: 100%;
    display: flex;
    /* 가로로 배치를 어떻게할것인지  */
    justify-content: space-between;
    /* 세로로 배치를 위/중간/아래 => 중간(세로로 가운데) */
    align-items: center;
}
#header .inner .logo{
    font-size: 26px;
    font-weight:900;
    letter-spacing: 2px;
    color:#14563a;
}
#header .inner .gnb ul{
    display: flex;
}
#header .inner .gnb ul li a{
    /* display:flex의 부모 바로 아래 자식만
       인라인요소든, 블록이든 너비/높이를 가질 수 있다.
    */
    /* padding : 0(위/아), 21(왼/오) */
    /* padding : 0(위), 20(좌/우), 30(아) */
    padding: 0 21px;
    font-size: 12px;
    color:#555;
}
#header .inner .gnb ul li.on a{
    font-weight: bold;
    color: #000;
}
/* header 오른쪽 영역 CSS ------------ */
#header .inner .header-right{
    display: flex;
    align-items: center;
}
#header .inner .header-right .owner{
    margin-right: 22px;
    font-size: 12px;
    color: #666;
}
#header .inner .header-right .btn-franchise{
    border-radius: 20px;
    padding: 9px 16px;
    background-color: #14563a;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
/* 메뉴 탭 CSS 영역 ----------- */
.menu-tab{
    width: 960px;
    margin: 24px auto;
    background-color: #f1eee5;
    /* border:1px solid red; */
}
.menu-tab ul{
    display: flex;
    /* justify-content: space-evenly; */
}
.menu-tab ul li{
    /* width: 120px; */
    flex: 1;
}
.menu-tab ul li a{
    display: block;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 12px;
    color: #333;
}
.menu-tab ul li.on a{
    background-color: #14563a;
    color: #ffff;
}
/*  footer 영역 css -------------- */
#footer{
    padding: 34px 0 44px;
    background-color: #22352a;
    color: #ffff;
}
#footer .inner{
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid white; */
}
#footer .inner .company{
    width: 480px;
    margin-right: 10px;
}
#footer .inner .company h2{
    margin-bottom: 30px;
    font-size: 16px;
    color: #ddd;
}
#footer .inner .company p{
    font-size: 10px;
    line-height: 1.9; /* 10 * 1.9 =19px */
}
#footer .inner .company .copyright{
    margin-top: 14px;
    padding-top: 14px;
    border-top: 1px solid #4a5a50;
    color:#ccc;
}
#footer .inner .policy{
    width: 220px;
}
#footer .inner .policy li{
    margin-bottom: 6px;
    font-size: 10px;
    font-weight: bold;
}
#footer .inner .sns{
    display: flex;
}
#footer .inner .sns li{
    margin-right: 14px;
}
#footer .inner .sns img{
    width: 18px;
    height: 18px;
}
/*  section 영역 CSS --------- */
.menu-list{
    width: 1200px;
    margin: 0 auto;
    padding: 70px 0 40px;
    /* border: 1px solid red; */
}
.menu-list ul{
    display: flex;
    /* 한화면에 5개씩 자동개행 */
    flex-wrap: wrap;
}
.menu-list ul li{
    /* seaon out 배지의 기준이되는 부모 */
    position: relative;
    /* flex: 1; */
    /* 1200px / 5 => 240px */
    width: 240px; 
    padding: 0 18px;
    margin-bottom: 70px;
    text-align: center;
}
.menu-list ul li img{
    height: 210px;
    margin: 0 auto 14px;
   
}
.menu-list ul li h3{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}
.menu-list ul li p{
   font-size: 11px;
   color: #888;
   /*  11 * 1.6 => 17.6px */
   line-height: 1.6; 
}
.menu-list ul li .seaon-out{
    /* li자식이므로 */
    position: absolute;
    top:0;
    right: 25px;
    border: 1px solid #2f4f3a;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    color:#14563a;
    background-color: #fffdf3;
    line-height: 12px;
    padding-top: 13px;
}
